<a href="https://colab.research.google.com/github/kkarimi62/IntroductionDataScience/blob/main/Introduction_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Data Science: Languages, Libraries, Tools, and Basic Operations**

# Introduction

Welcome to this Data Science notebook. This notebook aims to provide a brief overview of essential elements in Data Science, including the languages used, libraries that facilitate data manipulation and analysis, tools that support data science tasks, and basic arithmetic operations. Through this notebook, you will get a snapshot of the fundamental components required to kickstart your journey in Data Science.

There are several programming languages that are commonly used in Data Science. Some of the most popular ones include:

1. **Python**
2. **R**
3. **SQL**
4. **Julia**
5. **Java**
6. **Scala**
7. **MATLAB**
8. **SAS**

# Data Science Libraries


1. **Pandas** - Data manipulation and analysis
2. **NumPy** - Numerical computing
3. **Matplotlib** - Data visualization
4. **Seaborn** - Statistical data visualization
5. **SciPy** - Scientific computing
6. **Scikit-learn** - Machine learning
7. **TensorFlow** - Deep learning
8. **Keras** - Deep learning
9. **PyTorch** - Deep learning
10. **NLTK** - Natural language processing
11. **Statsmodels** - Statistical modeling

# Data Science Tools
- Jupyter
- RStudio
- Apache Hadoop
- Apache Spark
- TensorFlow
- KNIME
- Tableau
- Google Colab
- MATLAB

# Arithmetic Expression Examples

In [1]:
2+5

7

In [2]:
7-2

5

In [3]:
# Multiply and Add Numbers

num1 = 10
num2 = 5

# Multiply the numbers
result_multiply = num1 * num2
print("Multiplication Result: {}".format(result_multiply))

# Add the numbers
result_add = num1 + num2
print("Addition Result: {}".format(result_add))

Multiplication Result: 50
Addition Result: 15

In [5]:
# Convert Minutes to Hours

# Define a variable for minutes
minutes = 150

# Convert minutes to hours
hours = minutes / 60

# Print the result
print("{} minutes is equal to {} hours".format(minutes,hours))

150 minutes is equal to 2.5 hours

# Objectives


- To create a structured notebook demonstrating knowledge of Markdown and code cells.
- To list and describe popular data science languages and libraries.
- To showcase familiarity with fundamental data science tools.

# Author

Author: [My Name]